@import "tailwindcss";

/* Keep font loaded via index.html <link> */

html, body, #root {
	height: 100%;
}

body {
	background-color: #f8fafc; /* close to Tailwind slate-50 */
	color: #0f172a; /* slate-900 */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

h1, h2, h3, h4 {
	font-weight: 800;
}
